body {
  background-color: #F0F0F0;
  font: 1rem/1.4 -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

header {
  position: relative;
  z-index: 2;
  left: 0px;
  text-align: left;
  max-width: 420px;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.90);
  margin-bottom: 0.5em;
  border-radius: 2px;
}

details summary {
  font-size: 1.0em;
  font-weight: bold;
}

details[open] summary {
  font-size: 1.4em;
  font-weight: bold;
}

header h1 {
  margin-top: 0px;
}

canvas {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  touch-action: none;
}

.back {
  float: right;
  text-decoration: none;
}

.back:hover {
  text-decoration: underline;
}

.back::before {
  display: inline-block;
  content: attr(data-index) '<';
  font-weight: bold;
  white-space: nowrap;
  margin-right: 0.2em;
  margin-left: 0.2em;
}

/* Used for the 'barebones' samples */
.barebones-button {
  font-family: "Karla", sans-serif;
  border: rgb(80, 168, 252) 2px solid;
  border-radius: 2px;
  box-sizing: border-box;
  background: none;
  height: 55px;
  min-width: 176px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  color: rgb(80, 168, 252);
  background-color: rgba(255, 255, 255, 0.7);
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  padding: 0;
  margin: 0;
  background-color: #dfdec0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.header .logo {
  width: 50%;
  max-width: 480px;
}
.header .header-bottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.header .header-bottom img {
  width: 20vw;
  margin-left: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 90%;
  gap: 40px;
}
.buttons .btn-cont {
  width: 100%;
}
.buttons .btn-cont p {
  width: 100%;
  padding-top: 24px;
  text-align: justify;
}
/*
.buttons .btn-cont .button {
  display: block;
  width: 100%;
  padding: 18px;
  border-radius: 15px;
  background-color: gray;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
*/
@media screen and (max-width: 700px) {
  .buttons {
    grid-template-columns: 1fr;
    flex-direction: column;
    width: 80%;
    gap: 40px;
  }
  .buttons .button {
    font-size: 18px;
  }
}
.footer {
  padding-bottom: 10vh;
}
.footer a {
  color: black;
  text-decoration: none;
}
#arButton{
  display: block;
  width: 100%;
  align-self: center;
  padding: 18px;
  border-radius: 15px;
  background-color: gray;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  
}
#context{
  width: 80vw;
  text-align: center;
}
#button-here button{
  margin: auto;
  display: block;
}